.snowflake {
    position: fixed;
    top: -10px;
    color: white;
    pointer-events: none;
    animation: fall linear infinite;
    z-index: 99999;
    filter: saturate(0) brightness(1.1);
}

@keyframes fall {
    0% { transform: translateY(0) rotate(0deg); }
    100% { transform: translateY(100vh) rotate(360deg); }
}
